 @font-face {
     font-family: iransans;
     src: url('./assets/iranSansMobile.ttf');
 }

 body {
     font-family: iransans;
     font-size: .875rem;
 }

 .text-right {
     text-align: right !important;
 }

 .nav-padding {
     padding-left: 1.3rem
 }